.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.bpm-setters-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.bpm-container {
  display: flex;
  align-items: baseline;
  justify-content: center;
  width: 100%;
}

.bpm-container > h1 {
  font-size: 10rem;
  font-weight: 800;
  font-variant-numeric: tabular-nums;
  width: 400px;
  text-align: center;
}


.bpm-container p {
  font-size: 2rem;
  font-weight: 200;
  top: 260px;
  position: absolute;
}

.beats-container {
  display: flex;
}

.beats-setters-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.beats-setters-container > p {
  font-size: 2rem;
  font-weight: 200;
}
.metronome-beats {
  height: 35px;
  width: 35px;
  margin: 5px;
  background-color: #e7e7e7;
  border-radius: 50%;
}

.metronome-beats.selected {
  background-color: rgb(46, 124, 213);
}

.metronome-toggler.MuiSvgIcon-fontSizeMedium {
  font-size: 6rem;
  cursor: pointer;
}

.MuiSvgIcon-root {
  cursor: pointer;
}

.modal {
  position: absolute;
  top: 2rem;
  right: 2rem;
  text-align: center;
  border: 3px solid rgb(227, 223, 223);
  border-radius: 4px;
  border-bottom: 4px solid;
  width: 40px;
  height: 37px;
}

.modal svg {
  border-radius: 30px;
  width: 35px;
  height: 35px;
}

.modal-wrapper {
  position: absolute;
  top: 40%;
  left: 20%;
  padding: 40px;
  border-radius: 10px;
  background-color: rgb(20, 51, 70);
  outline: none;
}

.key-wrapper {
  text-align: center;
  border: 3px solid rgb(227, 223, 223);
  border-radius: 4px;
  border-bottom: 4px solid;
  width: 40px;
  height: 37px;
}

.instruction-wrapper {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

.instruction-wrapper > p {
  font-weight: 800;
  font-size: 25px;
}