.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.bpm-setters-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.bpm-container {
  display: flex;
  align-items: baseline;
  justify-content: center;
  width: 100%;
}

.slider.MuiSlider-root {
  width: 70%;
  margin: 0px 20px 0px 20px;
  height: 9px;
}

.slider .MuiSlider-thumb {
  height: 35px;
  width: 35px;
}

.slider .MuiSlider-thumb:is(:hover, :focus) {
  box-shadow: none;
}

.slider .MuiSlider-thumb.Mui-focusVisible {
  box-shadow: none;
}

.bpm-container > h1 {
  font-size: 10rem;
  font-weight: 800;
  font-variant-numeric: tabular-nums;
  width: 400px;
  line-height: 150px;
  text-align: center;
}


.bpm-container p {
  font-size: 2rem;
  font-weight: 200;
  top: 260px;
  position: absolute;
}

.beats-container {
  display: flex;
}

.beats-setters-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.beats-setters-container div {
  display: flex;
}

.beats-setters-container p {
  font-size: 2rem;
  font-weight: 200;
}
.metronome-beats {
  height: 35px;
  width: 35px;
  margin: 5px;
  background-color: #e7e7e7;
  border-radius: 50%;
}

.metronome-beats.selected {
  background-color: rgb(46, 124, 213);
}

.metronome-toggler {
  cursor: pointer;
  width: 100px;
  height: 40px;
  border-radius: 7px;
}

.MuiSvgIcon-root {
  cursor: pointer;
}

.modal-button {
  position: absolute;
  top: 2rem;
  right: 2rem;
  text-align: center;
  border: 3px solid rgb(227, 223, 223);
  border-radius: 4px;
  border-bottom: 4px solid;
  width: 40px;
  height: 37px;
}

.modal-button svg {
  border-radius: 30px;
  width: 35px;
  height: 35px;
}

.modal-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: absolute;
  height: 200px;
  top: 30%;
  left: 15%;
  padding: 40px;
  border-radius: 10px;
  background-color: rgb(20, 51, 70);
  outline: none;
}

.modal-wrapper > h2 {
  font-size: 35px;
  color: rgb(255, 255, 255);
  margin-bottom: 15px;
}

.key-wrapper {
  text-align: center;
  border: 3px solid rgb(227, 223, 223);
  border-radius: 4px;
  border-bottom: 4px solid;
  width: 40px;
  height: 37px;
}

.instruction-wrapper {
  display: flex;
  align-items: baseline;
}

.instruction-wrapper > p {
  font-weight: 600;
  font-size: 20px;
  margin: 0px 0px 5px 10px;
}